* {
  box-sizing: border-box;
}

:root {
  --suzukired: #e20a17;
  --blue: #003399;
  --white: #f0f2f4;
  --black: #19191a;
  --bcgc: linear-gradient(0deg, #e20a17, #d40715, #b60612);
  --gradient-radial: repeating-linear-gradient( 90deg, #fbfef9 0%, #b7b6be 71%, #f0f2f4 90%, #fbfef9 100%);
  --main-font: "Alegreya Sans SC", sans-serif;
  --h-font: "Alegreya Sans SC", sans-serif;
}

/* #fed766 0%, #b7b6be 71%, #f0f2f4 90%, #fbfef9 100%  */

.box-shadow-out {
  -webkit-box-shadow: 3px 3px 5px 6px var(--blue);
  -moz-box-shadow: 3px 3px 5px 6px var(--blue);
  box-shadow: 3px 3px 5px 6px #b7b6be;
  width: 300px;
}

.box-shadow-in {
  -moz-box-shadow: inset 0 0 10px var(--spanish-orange);
  -webkit-box-shadow: inset 0 0 10px var(--spanish-orange);
  box-shadow: inset 0 0 10px var(--spanish-orange);
}

.box-layout {
  margin: 5% 0 10% 0;
  padding: 0.5%;
  align-self: center;
}

.gradient-font {
  text-transform: uppercase;
  background: var(--gradient-radial);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hide-native-scrollbar {
  scrollbar-width: none;
  /* Firefox 64 */
  -ms-overflow-style: none;
  /* Internet Explorer 11 */
}

.hide-native-scrollbar::-webkit-scrollbar {
  /** WebKit */
  display: none;
  width: 0px;
}

body {
  background: var(--bcgc);
  display: flex;
  font-family: var(--main-font);
  font-weight: 900;
  margin: 0;
}

main {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
  text-align: center;
  align-items: center;
}

main .main {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 0px;
  width: 90%;
  height: 100vh;
}

main .main h1 {
  /* text-indent: -9000px; */
  /* font-size: 6em;
  margin: 14% 0 6% 0; */
  font-size: 4em;
  margin: 17% 0 7% 0;
  display: flex;
  align-self: center;
  color: var(--big-dip-oruby);
  font-family: "Major Mono Display", monospace;
  /* font-family: "Sedgwick Ave Display", cursive; */
}

main .main h2 {
  letter-spacing: 0.05em;
  font-size: 1.2em;
  font-weight: 900;
  line-height: 1.1em;
}

.walking-bunny {
  background: url(../imgs/walk_mob.png) 0 0px no-repeat;
  /* animation: bunnyWalk 1.5s steps(2) infinite; */
  width: 300px;
  height: 203px;
  margin-top: 14%;
}

@media (prefers-reduced-motion: no-preference) {
  .animated-bunny {
    animation: bunnyWalk 1.5s steps(2) infinite;
  }
}

@keyframes bunnyWalk {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -407px;
  }
}

.animated-bunnies, .animated-bunniess {
  display: flex;
  flex-flow: row;
}

@media (prefers-reduced-motion: no-preference) {
  .animated-left {
    animation: slide-in-left 0.5s linear 0.1s 1 forwards;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .animated-right {
    animation: slide-in-right 0.5s linear 0.1s 1 forwards;
  }
}

.animated-bunnies .left-bunny, .animated-bunniess .left-bunny {
  height: 200px;
  transform: rotate(41deg) translate(-26%, 142%);
}

.animated-bunnies .right-bunny, .animated-bunniess .right-bunny {
  height: 200px;
  transform: rotate(-41deg) translate(26%, 142%);
}

@keyframes slide-in-left {
  100% {
    transform: rotate(41deg) translate(-26%, 26%) scale(1.3);
  }
}

@keyframes slide-in-right {
  100% {
    transform: rotate(-41deg) translate(26%, 26%) scale(1.7);
  }
}

.services, .contact {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  font-size: 1.25em;
  width: 100%;
}

.services h2, .contact h2 {
  font-weight: bolder;
  font-size: 2.3em;
  color: var(--white);
  width: 100%;
  background-color: var(--black);
}

.services h2 {
  font-size: 3em;
  margin: 0 0 15% 0;
}

.services ul {
  list-style: none;
  padding: 0;
  font-size: 1.5em;
  line-height: 2em;
  color: var(--green);
  margin-top: -3%;
}

.projects {
  margin-bottom: 10%;
}

#contact {
  background-color: var(--black);
  color: var(--white);
  border: none;
}

#contact-form {
  display: flex;
  flex-flow: column;
  align-items: top;
  color: var(--white);
}

#contact-form label {
  min-width: 86px;
  padding-right: 20px;
}

#contact-form input[type="text"], #contact-form input[type="email"] {
  border: none;
  border-radius: 0%;
  border-bottom: 1px solid #888;
  background: transparent;
  color: var(--white);
  width: 100%;
}

.contact-form {
   align-self: center;
  margin-top: 9%;
}

.contact-form div>p {
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 0;
  line-height: 2em;
}

#contact-form p {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

#contact-form textarea {
  background-color: var(--black);
  border: 1px solid var(--white);
  color: var(--white);
  width: 100%;
}

#contact-form p:last-of-type {
  padding: 10px 20px 20px 0;
  text-align: right;
  align-self: flex-end;
}

#contact-form input[type="submit"] {
  color: var(--white);
  background-color: var(--black);
  padding: 10px 30px;
  font-size: 1em;
  letter-spacing: 4px;
  font-family: var(--main-font);
  font-weight: 900;
  text-transform: uppercase;
}

#responce {
  display: none;
}

address {
  margin: 5%;
}

address a {
  text-decoration: none;
  font-style: normal;
  color: var(--green);
  font-weight: bold;
  line-height: 1.5em;
}

button {
  background-color: var(--black);
  width: 70%;
  margin-top: 38px;
}

button a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  font-size: 2em;
  line-height: 3em;
  font-family: var(--main-font);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1025px) {
  main .main h1 {
    font-size: 8em;
    margin: 10% 0 7% 0;
  }
  main .main h2 {
    font-size: 3em;
  }
  .walking-bunny {
    background: url(../imgs/walk_wscr.png) 0 0px no-repeat;
    width: 700px;
    height: 474px;
  }
  @keyframes bunnyWalk {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -949px;
    }
  }
  .animated-bunnies .left-bunny, .animated-bunniess .left-bunny {
    height: 400px;
  }
  .animated-bunnies .right-bunny, .animated-bunniess .right-bunny {
    height: 400px;
  }
  .services h2, .contact h2 {
    margin-top: 78px;
    font-size: 2.6em;
  }
  .services ul {
    font-size: 2.3em;
    line-height: 2em;
  }
  address {
    margin: 5% 0 17% 0;
    font-size: 2em;
  }
  .contact-form {
    width: 70%;
  }
}

@media only screen and (min-width: 1025px) {
  main {
    flex: 3;
  }
  .main {
    width: 100%;
  }
  main .main h1 {
    font-size: 10em;
  }
  main .main h2 {
    letter-spacing: 0.08em;
    font-size: 3em;
  }
  .walking-bunny {
    background: url(../imgs/walk_wscr.png) 0 0px no-repeat;
    width: 700px;
    height: 474px;
  }
  @keyframes bunnyWalk {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -949px;
    }
  }
  .services h2, .contact h2 {
    line-height: 2.3em;
  }
  .services, .contact {
    font-size: 1.5em;
    width: 100%;
  }
  nav {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
  }
  #menuToggle {
    display: flex;
    position: unset;
    flex-direction: column;
    height: 100%;
  }
  #menuToggle input, #menuToggle span {
    display: none;
  }
  #menu {
    display: flex;
    position: unset;
    flex-flow: column;
    transform: none;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1.7em;
    flex: 1;
    margin: 10% 0 0 0;
    padding: 0;
    background: none;
    transition: transform 0.2s ease-in;
  }
  #menu Li {
    background: url(../imgs/navzeke.png) no-repeat bottom 0% left 50%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 5% 5%;
    transition: transform 0.2s ease-in;
  }
  #menu:hover li {
    transform: scale(0.7);
  }
  #menu li:hover {
    transform: scale(1);
  }
}